@import "tailwindcss";


:root {
  --background: #ffffff; 
  --foreground: #ffffff; 

  --primary: #0e0e10;
  --primary-hover: #0e0e10;
  --primary-foreground: #ffffff;

  --secondary: #ff4000;
  --secondary-hover: #ff7340;
  --secondary-foreground: #ffffff;

  --danger: #ef4444;
  --danger-foreground: #ffffff;
} 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  /* Font bawaan Next.js */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}